.book-header-title {
  text-align: center;
  margin: 2rem;
}

.filters {
  margin: 1rem;
}

.filters-form {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin: 1rem 0;
}

.book {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 45px;
}

.book img {
  aspect-ratio: 2/3;
  border-radius: 15px;

}